html 
  head 
    title Welcome to YHAA
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    
    style(type='text/css').
      body{
                      padding: 0;
                      margin: 0;
                      background: #ddd;
              }
              .btn{
                      margin-top: 10px;

              }
              .container{
                      margin:100px auto;
                      width: 35%;

              }
              @media(max-width: 952px){
                      .container{
                              width: 60%;
                      }
              }
                      @media(max-width: 475px){
                      .container{
                              width: 80%;
                      }
              }
    script.
      $(document).ready(function(){
        $("#login-submit").submit(function(event){ 
            event.preventDefault(); 
            var payload = {}; 
            payload.emailId = $('#email-input').val(); 
            payload.password = $('#password-input').val();
            $.ajax({
                url : 'http://localhost:3000/login', 
                type: 'POST', 
                contentType: 'application/json', 
                dataType: 'json', 
                data : JSON.stringify(payload),
                success: function(response) {
                        window.location = response.url;
                      }
            });
        });
      });

  body
    .container
      .row.card.hoverable
        .card-content
          h4.center.blue-text Welcome to YHAA
          form#login-submit.row.s12
            .col.s12
              .input-field
                input#email-input(type='text', name, placeholder='Email address*')
            .col.s12
              .input-field
                input#password-input(type='password', name, placeholder='Password*')
            .col.s12
              p
                label
                  input(type='checkbox')
            .col.s12.center
              button.btn.btn-large.waves-effect.waves-light.blue(type='submit', name='action')
                | Login
                i.material-icons.right send